<div class='swiper-slide'>
    <div class="project-card " style="">
        <div class="image">
            <img class="image-cover" src="{{'/assets/images/test/test.JPG' | url}}"/>
        </div>
        <h2>{{ name }}</h2>
        <h3>{{ lead }}</h3>
        <div class="line">
            {% include "svganim/line" %}
        </div>
    </div>  
</div>