<div class='swiper-slide'>
    <div class="project-card">
        <div class="image">

        </div>
        <h2>{{ name }}</h2>
        <h3>{{ lead }}</h3>
        <div class="line">
            {% include "svganim/line" %}
        </div>
    </div>  
</div>