#Home{
    height: 100vh;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    overflow: hidden;
    position: relative;
    .content{
        display: flex;
        width:100%;
        justify-content: space-between;
    }
    @media (--md){
        height: auto;
        .content{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:60px;
        }
    }
}
#HomeHeroBG{
    path{
        fill:none;
        stroke: #dc97e5;
    }
}
.hero-copy-block{
    display: flex;
    flex-direction: column;
    gap:12px;
    position: absolute;
    top:-30px;
    z-index: 2;
    text-align: center;
    color:$color-purple;
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 1.3rem;
        display: inline-block;
        span{
            opacity: 0;
            display: inline-block;
            transform: translateY(20px);
            transition: opacity 1000ms, transform 1000ms;
            &.active{
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}
.hero-computer-block{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    transition: opacity 400ms;
    .ground-wrapper{
        z-index: 0;
        width: 500px;
        height: 500px;
        position: absolute;
        transform: scale(1.2);
        transition: transform 500ms;
    }
    canvas{
        z-index: 1;
        transition: transform 1000ms;
    }
    .circle-svg-wrapper{
        position: absolute;
        width:100%;
        height: 100%;
        .circle-svg{
            opacity: .4;
            position: absolute;
            width:100%;
            height: 100%;
            transition: transform 1000ms;
            transition-delay: 0ms;
        }
        &:nth-of-type(1){
            .circle-svg{
            transform: scale(.6) rotate(45deg);
            opacity: 1;
            transition-delay: 200ms;
            }
        }
        &:nth-of-type(2){
            .circle-svg{
                transform: scale(.8) rotate(75deg);;
                opacity: .7;
                transition-delay: 100ms;
            }
        }
        path{
            fill:transparent;
            stroke:white;
            stroke-width: 2px;
            transition-delay: 200ms;
        }
    }
    .ground{
            width:100%;
            height:100%;
            border-radius: 100%;
            background-color: rgb(189, 44, 141);
            filter: blur(30px);
            opacity: .3;
            mix-blend-mode: hard-light;
            position: relative;
            z-index: 0;
            transition: transform 1000ms;
        }
    &.pre-load{
        opacity:0;
        canvas{
            transform:scale(.5);
        }
        .ground-wrapper{
            transform: scale(.5);
        }
        .ground{
            transform: scale(.1);
        }
        .circle-svg-wrapper{
            .circle-svg{
            transform: scale(.2) rotate(100deg);
            }
            &:nth-of-type(1){
                .circle-svg{
                    transform: scale(.2) rotate(145deg);
                }
            }
            &:nth-of-type(2){
                .circle-svg{
                    transform: scale(.2) rotate(175deg);
                }
            }
        }
    }
}
.project-display-wrapper{
    --display-width:500px;
    width: var(--display-width);
}
.project-display{
    height: calc(100vh - 200px);
    max-height: 650px;
    width: var(--display-width);
    background-color: #ffffff;
    justify-self: flex-end;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #00000022;
    z-index: 10;
    position: relative;
    overflow: hidden;
}
.project-wrapper{
    padding:0px 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: transform 500ms;
    .swiper-slide{
        height: auto;
    }
    .swiper-wrapper{
    height: calc(100% - 60px);
    }
}
.project-display-line{
    position: absolute;
    height: 2px;
    left:-5px;
    right:-5px;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    box-shadow: 0px 0px 10px $color-purple;
    svg{
        height: 15px;
    }
    path{
        fill:transparent;
        stroke:$color-purple;
    }
    &:nth-of-type(2){
        top:auto;
        bottom:-1px;
    }
}
.project-display-controls{
    position: absolute;
    top:0;
    right:0px;
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px 0px;
    z-index:10;
    .control{
        width: 100%;   
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:$color-purple;
        transition: opacity 300ms;
        opacity: .8;
        svg{
            width: 100%;
            height: 100%;
            transition: transform 300ms;
            padding-right: 10px;
        }
        &.next{
            svg{
               transform: scale(1,-1);
            }
            &:hover{
                svg{
                    transform: scale(1,-1) translate(0,6px);
                }
            }
            &:active{
                svg{
                    transform: scale(1,-1) translate(0,2px);
                }
            }
        }
        &.prev{
            &:hover{
                svg{
                    transform: translate(0,6px);
                }
            }
            &:active{
                svg{
                    transform: translate(0,2px);
                }
            }
        }
    }
    .control-hidden,.control-disabled{
        opacity: 0;
    }
    .pagination{
        display: flex;
        flex-direction: column;
        gap:1px;
        align-items: center;
        justify-content: center;
        transform: none;
    }
    .project-display-bullet{
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after{
            content:" ";
            background-color: $color-purple;
            opacity: .6;
            border-radius: 100px;
            transition: background-color 300ms, transform 300ms, margin 300ms;
            margin: 0 0;
            width: 10px;
            height: 10px;;
            display: block;
        }
        &.active{
            &:after{
                //background-color: $color-purple;
                opacity: .8;
                transform: scale(1.2);
            }
        }
    }
}
.project-scroller{
    width: 100%;
    padding:40px 20px;
}
.project-card{
    //margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: $color-purple;
    .tech-icons{
        bottom:0px;
        left:0px;
        border-top-right-radius:4px;
        display: flex;
        gap: 12px;
        color:$color-purple;
        .tech-icon{
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-style: preserve-3d;
            svg{
                width: 100%;
                height: 100%;
            }
        }
    }
    .image{
        height: 200px;
        width: 100%;
        border-radius: 4px;
        margin-bottom: 6px;
        background-color: gray;
        overflow: hidden;
        position: relative;
        box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    }
    h2{
        font-size: 3.7rem;
        letter-spacing: .05em;
        font-weight: 700;
    }
    h3{
        font-size: 1.2rem;
        font-family: $font-body;
        font-weight: 500;
        font-style: italic;
    }
    .copy{
        font-weight: 300;
        font-size: 1.1rem;
    }
    .line{
        margin-top: 12px;
        height: 1px;
        opacity: .6;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            height: 20px;
        }
        path{
            fill:transparent;
            stroke:$color-purple;
        }
    }
}
.project-item-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 20;
    border-radius: 4px;
}
.project-item{
    --brand-color:red;
    padding:30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .line{
        height: 1px;
        background-color: var(--brand-color);
    }
    h2{
        margin-bottom: 6px;
    }
}
.project-main-image{
    height: 300px;
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;;
}
.project-technology{
    list-style: none;
    display: flex;
    gap: 12px;
    li{
        font-style: italic;
        color:var(--brand-color);
    }
}
#ForvrProject{
    background-color: #fdfbf9;
    --brand-color:#6a4027;
    .video-wrapper{
        display: flex;
        align-self: center;
        gap:24px;
        >div{
            box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            overflow: hidden;
            position: relative;
            video{
                position: relative;
                transform: scale(1.01) translate(0, 1px);
            }
        }
    }
    h2,h3,h4{
        color:var(--brand-color);
        font-weight: 600;
    }
    .live-site-button{
        max-width: 300px;
    }
}

#ProjectModalContainer{
    background-color: rgba(255,255,255,0);
    width: 100%;
    height: 100vmin;
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    bottom:0;
    right:0;
    backdrop-filter: blur(0px);
    justify-content: center;
    align-items: center;
    transition: backdrop-filter 800ms;
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: -9999;
    &.active{
        opacity: 1;
        pointer-events: all;
        backdrop-filter: blur(4px);
        z-index: 100;
        #ProjectModal{
            transform: translate(0, 0%);
        }
    }
    .background{
        position: absolute;
        top:0;bottom:0;
        left:0;right:0;
    }
    &.translate-out{
        backdrop-filter: blur(0px);
        #ProjectModal{
            transform: translate(0, 150%);
        }
    }
}
#ProjectModal{
    width: calc(100% - 40px);
    max-width: 800px;
    height: calc(100vmin - 80px);
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    transform: translate(0, 150%);
    transition: transform 800ms;
    
}
#ProjectModalCloseButton{
    --size: 40px;
    width: var(--size);
    height: var(--size);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 3px;
    position: absolute;
    border-radius: 100px;
    left: calc((var(--size) + 20px)*-1);
    top:0;
    padding: 10px;
    color:$color-purple;
}