/* Buttons */
button{
    color:$text-dark;
}
.button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 4px;;
    text-transform: uppercase;
    padding:1.35em 2em;
    border: 1.2px solid $text-dark;
    transition: border 200ms, color 200ms, background-color 200ms;
    cursor: pointer;
    line-height: 1.1em;
    font-size: .98rem;
    &:hover, &.active{
        background-color: $text-dark;
        color:$text-light;
    }
    &.button-light{
        color:$text-light;
        border-color:$text-light;
        &:hover{
            background-color: $text-light;
            color:$text-dark;
        }   
    }
}
.button-solid{
    background-color: $text-dark;
    color:$text-light;
    &:hover{
        background-color: transparent;
        color:$text-dark;
    }
    &.button-light{
        background-color:$text-light;
        color:$text-dark;
        border-color:$text-light;
        &:hover{
            background-color: transparent;
            color:$text-light;
        }
    }
}
.button-project{
    border-color:var(--brand-color);
    color:var(--brand-color);
    background-color: transparent;
    &:hover{
        color:$text-light;
        border-color:var(--brand-color);
        background-color: var(--brand-color);
    }
}
a.text-link{
    cursor: pointer;
    font-size: .84em;
    text-decoration: underline;
    font-weight: 500;
}

.text-input-wrapper{
    --icon-width:1.6em;
    display: flex;
    position: relative;
    align-items: center;
    input{
        width: 100%;
        border: none;
        color:$text-dark;
        padding:.6em 0;
        margin-right: calc(var(--icon-width) + .6em);
        font-weight: 500;
        letter-spacing: .02em;
        background-color: transparent;
        &::placeholder{
            transition: opacity 200ms;
            font-weight: 500;
            color:$text-dark;
        }
        &:hover{
            &::placeholder{
                opacity: .8;
            }
        }
        &:focus{
            outline:none;
            &::placeholder{
                opacity: .4;
            }
        }
    }
    .submit-icon{
        width: var(--icon-width);
        height: calc(var(--icon-width)/2);
        position: absolute;
        right:0;
        cursor: pointer;
        opacity: .6;
        height: 100%;
        transition: opacity 200ms;
        &:hover{
            opacity: 1;
        }
    }
    &:after{
        content:"";
        display: block;
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        height: 1px;
        background-color: $text-dark;
    }
}
.select-wrapper{
    border: 1px solid $text-dark;
    padding-right:8px;
    select{
        background-color: transparent;
        border: none;
        padding: 6px 12px;
        color:$text-dark;
    }
}
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinners[type=number] {
  -moz-appearance: textfield;
}