---
layout: layout.liquid
title: FORVR MOOD 2025
permalink: /forvr2025/
---

<section id="FR25Hero" class="section-padding">
    <div class="container content">
        <h1>FORVRMood 2025 Redesign & Product Launch</h1>
        <p>My client, FORVRMood, wanted to redesign their digital storefront ahead of a product launch.</p>
        <p>Along with that redesign, they needed to leverage advanced shopify features to communicate the value of their new products.</p>
    </div>
    <div class="container">
        <h2>Dynamic SVG Fragrance Display</h2>
        <p>The client wanted to highlight the head, heart, and base notes of their new fragrance line with images and descriptions in a compact format.</p>
        <p>This dynamic SVG allows the client to highlight up to 8 notes, and is fully customizable via the shopify admin storefront.</p>
    </div>
    <div class="container">
        <h2>Simplfied Cart Drawer</h2>
        <p>The client wanted the benefits of a dynamic cart drawer, without needing to pay for a complicated third party app.</p>
        <p>This cart drawer dyanamically updates cart contents, quantity, and price, in addition to other features such as product sudgestions, a free-shipping meter, and gift/promotional CTAs</p>
    </div>
</section>
