---
layout: layout.liquid
title: Home Page
---
<section id="Home">
    <div id="HomeHeroBG" class="full-abs rellax" data-rellax-speed="-4">
        {% include 'svganim/herobg'%}
    </div>
    <div class="content container">
        <div class="hero-computer-block pre-load">
            <div class="hero-copy-block rellax" data-rellax-speed="4">
                <h1>Hey, I'm Doug</h1>
                <p>A frontend developer, and a shopify expert.</p>
                <script>
                    function HeroCopy(){
                        const master = document.querySelector('.hero-copy-block');
                        const paragraph = master.querySelector("p");
                        const textArr = master.querySelector("p").innerText.split(" ");
                        let text = "";
                        textArr.forEach((s) => {
                            text += `<span>${s}</span> `;
                        });
                        paragraph.innerHTML = text;

                        const spans = paragraph.querySelectorAll("span");
                        setTimeout(()=>{
                            spans.forEach((e,i)=>{
                                setTimeout(()=>{
                                    e.classList.add('active');
                                },i * 200)
                            });
                        
                        },500)
                    }   
                    HeroCopy();
                </script>
            </div>
            <div class="ground-wrapper">
                <div class="ground">

                </div>
                <div class="full-abs circle">
                    {% include 'svganim/circle', rellax:"-.5" %}
                    {% include 'svganim/circle', rellax:".5" %}
                    {% include 'svganim/circle', rellax:"1.5" %}
                </div>
            </div>
            <div id="HeroComputer" class="rellax" data-rellax-speed="2.5">
            </div>
        </div>

        <div class="project-display">
            <div class="project-wrapper">
                <div class="project-scroller swiper">
                    <div class="swiper-wrapper">
                        {% include 'home/project-card', name:"FORVR<br/>MOOD", lead:"National luxury candles & fragrances" %}
                        {% include 'home/project-card', name:"Trusted<br/>Media<br/>Brands", lead:"Globally recognised entertainment company" %}
                        {% include 'home/project-card', name:"FORVR<br/>MOOD", lead:"National luxury candles & fragrances" %}
                        {% include 'home/project-card', name:"Trusted<br/>Media<br/>Brands", lead:"Globally recognised entertainment company" %}
                        {% include 'home/project-card', name:"FORVR<br/>MOOD", lead:"National luxury candles & fragrances" %}
                        {% include 'home/project-card', name:"Trusted<br/>Media<br/>Brands", lead:"Globally recognised entertainment company" %}
                    </div>
                </div>
                <div class="project-display-controls">
                    <div class="control prev">
                        {% include 'icons/project-display-arrow' %}
                    </div>
                    <div class="pagination">

                    </div>
                    <div class="control next">
                        {% include 'icons/project-display-arrow' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function ProjectSlider(){
        const master = $('.project-display');
        const slider = $(master).find('.project-scroller')
        const controls = $(master).find(".project-display-controls");
        const pagination = $(controls).find('.pagination');
        const next = $(controls).find('.control.next');
        const prev = $(controls).find('.control.prev');

        const swiper = new Swiper($(slider)[0], {
            // Optional parameters
            direction: 'vertical',
            slidesPerView:"auto",
            spaceBetween:60,
            mousewheel:true,
            speed:600,
            centerInsufficientSlides:true,
            navigation: {
                nextEl: $(next)[0],
                prevEl: $(prev)[0],
                disabledClass:"control-disabled",
                hiddenClass:"control-hidden"
            },
            pagination: {
                el: $(pagination)[0],
                type: 'bullets',
                bulletClass:"project-display-bullet",
                bulletActiveClass:"active",
                paginationDisabledClass:"pagination-disabled",
                clickable:true,
                
            }
        });

    }

    document.addEventListener('DOMContentLoaded',ProjectSlider);
</script>